<div class="product-list">
    <h2>Productos Destacados</h2>
    <div *ngFor="let product of products">
      <mat-card class="product-card">
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ product.description }}</p>
          <p>Price: {{ product.price | currency }}</p>
    <button mat-button (click)="addToCart(product)">Add to Cart</button>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  