<div class="container">
    <!-- Botón para Añadir Producto -->
    <button mat-raised-button color="primary" (click)="openAddProductModal()">
      Añadir Producto
    </button>
  
    <!-- Tabla de productos -->
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
      <!-- Columna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
      </ng-container>
  
      <!-- Columna Nombre -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let product"> {{product.title}} </td>
      </ng-container>
  
      <!-- Columna Precio -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
      </ng-container>
  
      <!-- Columna Acción para Editar -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let product">
          <button mat-button color="accent" (click)="openEditProductModal(product)">
            Editar
          </button>
          <button mat-button color="warn" (click)="deleteProduct(product.id)">
            Eliminar
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
